body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px; /* Added padding to the body */
    overflow-x: hidden; /* Hide horizontal overflow */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    gap: 1rem;
}

.btn {
    background-color: #007BFF; /* Blue color */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 50px; /* Curved corners */
    border: none;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.profile-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 100px; /* Added padding at the bottom */
}

.profile-container img {
    transition: transform 0.3s ease-in-out;
    z-index: 10;
    position: relative;
}

.profile-container .social-icons {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(100%);
    z-index: 5;
}

.profile-container:hover img {
    transform: scale(1.05);
}

.profile-container:hover .social-icons {
    opacity: 1;
    transform: translateY(0);
}

.social-icons {
    display: flex;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
}

/* Runner Styles */
.runner-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 5px solid #e0e0e0;
    overflow: hidden; /* Hide horizontal overflow */
}

.runner {
    display: flex;
    align-items: center;
    gap: 50px; /* Space between images */
    animation: runner 25s linear infinite; /* Animation for movement */
}

.runner img, .runner svg {
    margin-left: 3rem; /* Space between images */
    width: 50px;
    height: 50px;
}

@keyframes runner {
    0% {
        transform: translateX(100%); /* Start from the right */
    }
    100% {
        transform: translateX(-100%); /* Move to the left */
    }
}

@keyframes runner {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.footer {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e0e0e0;
}
